body {
Background: #000000;

}
#main {
	background: #ffffff;
	margin: 40px auto;
	border: solid 5px ##ff0000;
	}
body {
	text-size: 40pt
}
hr {
height: 2px:
color: #ff0000;
}
i {
font-family: "calibri";
font-size: 12pt; 
text-align: left;


